body {
  font-size: 100%;
  font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

a, i {
  text-decoration: none;
  color: #ffffff;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

/***************** NAV *****************/

nav ul {
  display: flex;
  justify-content: space-between;
  padding: .75rem;
  background-color: #3D7FCF;
}

nav a:hover {
  text-decoration: underline;
}


/**************** HERO *****************/

.hero {
  flex: none;
  display: flex;
  width: 22rem;
}

header img {
  max-height: 7rem;
  padding: .75rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

h1 {
  font-size: 2.5rem;
  color: #3D7FCF;
  padding-top: 1.2rem;
  font-weight: bold;
}

/**************** ASIDE ****************/

main {
  flex: none;
  display: flex;
}
  
aside {
  width: 30%;
  padding: 6rem 0 0 1rem;
}

form input {
  margin-top: 1rem;
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0.75rem;
}

h2 {
  padding: 1.5rem;
  font-size: 2rem;
  color: #2d2d2d;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  color: #2d2d2d;
  padding: .5rem 0 1rem 0;
}

.item-container {
  flex: none;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.item-container div {
  width: 20rem;
  padding: 1rem;
  border: 1px solid #666666;
  margin: .5rem;
}

.item-container p {
  text-align: left;
  padding-top: 1rem;
}

/*********** MEDIA QUERIES ***********/


