/***************** ALL *****************/
* {
    box-sizing: border-box;
}

/***************** TEXT *****************/
body {
  font-size: 100%;
  font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

a, i {
  text-decoration: none;
  color: #ffffff;
}

/***************** NAV *****************/

nav ul {
  display: flex;
  justify-content: space-between;
  padding: .75rem;
  background-color: #3D7FCF;
}

nav a:hover {
  text-decoration: underline;
}


/**************** HERO *****************/

.hero {
  flex: none;
  display: flex;
  flex-wrap: nowrap;
  max-height: 142px;
}

h1 .logo-w {
  font-size: 3.5rem;
}

h1 {
  font-size: 2.5rem;
  color: #3D7FCF;
  font-weight: bold;
}

/**************** ASIDE ****************/

form input {
  margin-top: 1rem;
  width: 100%;
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

h2 {
  padding: 1rem;
  font-size: 2rem;
  color: #2d2d2d;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  color: #2d2d2d;
  padding: .5rem 0 1rem 0;
}

.item-container {
  flex: none;
  display: flex;
  flex-flow: row wrap;
}

.item {
  padding: .75rem;
  border: 1px solid #666666;
  margin: .5rem .5rem 0 0;
  text-align: center;
  min-width: 18rem;
}

.item p {
  text-align: left;
  padding-top: 1rem;
}

/*********** MEDIA QUERIES ***********/

/* for mobile */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}

/* for tablet */
@media only screen and (min-width: 480px) {
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-1med {width: 33.33%;}
  .col-2med {width: 66.66%;}
  .col-3med {width: 100%;}
}

/* for desktop - small */
@media only screen and (min-width: 768px) {

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* for desktop - large */  
@media only screen and (min-width: 1225px) {
  .container {
    width: 1225px;
    margin: auto;
  }
}
  